body{
    margin: 0;
    padding: 0;
    background-color: brown;
}
.box{
    height: 300px;
    background-color:darkcyan;
    top: 200px;
}
.box ul{
    position: relative;
    left:225px;
}
.box ul li{
    position: absolute;
    height: 200px;
    opacity: 2;
    width: 100px;
    top:0;
    list-style: none;
    transition:0.8s all;
}
.padanje{
    margin-left: 20px;
    float: left;
    height: 300px;
    width: 200px;
}
.box ul .padanje:hover>li{
    top: 200px;
    opacity: 1;
}
img
{
height: 300px;
width: 200px;
}
#tekst{
    text-align: center;
    color: white;
}

#naslov{
    color: wheat;
    text-align: center;
    font-size: xx-large;
}

.footer img{
    height: 40px;
    width: 70px;
    float: left;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: brown;
    color: white;
    text-align: right;
 }