div{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 5;
    padding-left: 170px;
    padding-right: 170px;
}

img{
    height: 350px;
    width: 230px;
}
h1{
    text-align: center;
}
body{
    background-color: grey;
    color: white;
}
footer{
    text-align: right;
}
.button {
    border: solid cornflowerblue 2px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: brown;
  }

  #dugme{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer img{
    height: 40px;
    width: 70px;
    float: left;
}